/* Font Configuration - Klim Type Foundry
   Signifier (serif) + Söhne (sans-serif) + Söhne Mono
*/

/* ========================================
   Signifier (Serif)
   Used for headings and body text
   ======================================== */

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-light-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Signifier';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Signifier/test-signifier-black-italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ========================================
   Söhne (Sans-serif)
   Used for UI and meta text
   ======================================== */

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-leicht.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-leicht-kursiv.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-kraftig.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-kraftig-kursiv.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-halbfett-kursiv.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-fett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne/test-soehne-fett-kursiv.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ========================================
   Dank Mono (Monospace)
   Used for code - distinctive italic style
   ======================================== */

@font-face {
  font-family: 'Dank Mono';
  src: url('/public/fonts/DankMono/DankMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dank Mono';
  src: url('/public/fonts/DankMono/DankMono-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dank Mono';
  src: url('/public/fonts/DankMono/DankMono-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ========================================
   Söhne Mono (Monospace) - Fallback
   ======================================== */

@font-face {
  font-family: 'Söhne Mono';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne%20Mono/test-soehne-mono-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne Mono';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne%20Mono/test-soehne-mono-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne Mono';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne%20Mono/test-soehne-mono-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Söhne Mono';
  src: url('/public/fonts/KlimTestFonts%20(4)/Test%20web%20fonts%20(Static,%20WOFF2)/Test%20Söhne%20Collection/Test%20Söhne%20Mono/test-soehne-mono-halbfett-kursiv.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
