[package]
name = "kimberlite"
description = "Kimberlite - Compliance-native database for regulated industries"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# Internal crates (foundation layer)
kmb-types.workspace = true
kmb-crypto.workspace = true
kmb-storage.workspace = true
kmb-kernel.workspace = true
kmb-directory.workspace = true

# Internal crates (data layer)
kmb-store.workspace = true
kmb-query.workspace = true

# Core
thiserror.workspace = true
bytes.workspace = true
tracing.workspace = true
serde.workspace = true

[dev-dependencies]
tempfile.workspace = true
