[package]
name = "kimberlite-client"
description = "Kimberlite RPC client"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# Internal crates
kimberlite-types.workspace = true
kimberlite-wire.workspace = true

# Core
bytes.workspace = true
thiserror.workspace = true

[dev-dependencies]
tempfile.workspace = true
