[package]
name = "kimberlite-wire"
description = "Binary wire protocol for Kimberlite"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# Internal crates
kimberlite-types.workspace = true
kimberlite-crypto.workspace = true

# Serialization
serde.workspace = true
postcard.workspace = true

# Core
bytes.workspace = true
thiserror.workspace = true

[dev-dependencies]
proptest.workspace = true
